*{margin: 0;
    box-sizing: border-box;
    
}

body{
 overflow-x: hidden;
 display: grid;
 grid-template-rows: 80px 1fr;

}

header{
display: flex;
justify-content: space-between;
background-color: rosybrown;
align-items: center;
}

.imgpokeball{height: 120px;
   
}

.imgpokemon{
    margin-left: -50px;
    max-width: 250px ;
    height: 120px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: url(fondmain.webp);
    background-size: cover;
    background-position: 0 10%;
    
    height: 632px;
    
    
}

.description{
display: flex;
flex-direction: column ;
justify-content: space-between;
}

.paragraphe {
    text-align: justify;
    padding: 5% 10% 0 10%;
    font-size:16;
    line-height: 150%;
}

.evolution{
    max-width: 100%;
    margin-top: 10%;
}


.pokemon {
    padding-top: 3%;
    display: flex;
flex-direction: column;

align-items: center;
}

h1{
    
    font-size: 50;
}

.image{
    
    height: auto;
    max-width: 350px;
   padding-top: 15%;
   

  }

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 10% 10% 10%;
    font-size: large;
    
}

nav a{
    color: black;
text-decoration: none;
line-height: 180%;

}

ul{list-style-type: none;}

li{
    padding-left: 15px;
    background-size: 10px;
background-repeat: no-repeat;
background-position: 0 9px;
background-image: url(Pokéball.svg);
}

li:hover{
    text-decoration: underline;
}

@media(max-width:640px){
    main{ 
        grid-template-columns: 1fr;

    }
}